/*
 * Copyright 2013-2017 ForgeRock AS. All Rights Reserved
 *
 * Use of this code requires a commercial software license with ForgeRock AS.
 * or with one of its affiliates. All use shall be exclusively subject
 * to such license between the licensee and ForgeRock AS.
 */

body {
    border: 0;
    color: #333;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    outline: 0;
    padding: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
}

form {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
}

input {
    display: block;
    width: 100%;
}

button {
    float: right;
    margin-bottom: 10px;
}

pre {
    background-color: #eee;
    color: #000;
    border: 1px dashed #ccc;
    padding: 5px;
    word-wrap: break-word;
}

hr {
    border: 0;
    border-bottom: 1px dashed #eee;
    background: #ccc;
    clear: both;
}
