<div class="content body">

    <h1 >Password Grant Flow</h1>


    <p>Note: This example is not designed to protect the client secret, but
        instead to show the results at each step in the process.</p>


    <p>Select the configuration that you want to use for this flow:</p>

    <div id="configurations"  ng-init="flowName = 'Implicit Flow'">
        <div ng-repeat="(key, config) in configurations.configurations" class="configuration">

            <ng-include src="'templates/configuration.html'"></ng-include>

        </div>
    </div>

    <div ng-switch="accessTokenRequest.status.isSent" >
        <!-- Access token request not sent: we display a button for calling the access token endpoint -->
        <div ng-switch-when="false">
            <a class="btn btn-block btn-success" ng-click="askToken()">Ask for an access token</a>
        </div>
        <!-- Access token request sent: we analyse the result -->
        <div ng-switch-when="true">

            <div ng-switch="accessTokenRequest.status.responseReceive">
                <!-- We display the request we did -->
                <ng-include ng-init="request = accessTokenRequest" src="'templates/ajaxRequest.html'"></ng-include>

                <!-- We are still waiting from OpenAM, we display a waiting button -->
                <div ng-switch-when="false">
                    <a class="btn btn-block btn-success"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</a>
                </div>

                <!-- We received a response from the ajax request -->
                <div ng-switch-when="true">

                    <div ng-switch="accessTokenRequest.status.success" >

                        <!-- The ajax request failed -->
                        <div ng-switch-when="false">
                            <ng-include ng-init="error = accessTokenRequest.response" src="'templates/error.html'"></ng-include>
                        </div>

                        <!-- The ajax request succeed -->
                        <div ng-switch-when="true">
                            <ng-include ng-init="response = accessTokenRequest.response; responseInfo = accessTokenRequest.responseInfo " src="'pages/accessTokenEndpointResponse.html'"></ng-include>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>


    </div>

</div>
