<div class="box box-default ">
    <div class="box-header with-border">
        <h3 class="box-title">Resource '{{resource.id}}'</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(attribute, value) in resource.attributes" class="resource">
                    <td>{{attribute}}</td>
                    <td>{{value}}</td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.table-responsive -->
</div><!-- /.box-body -->

</div>
